Port 58769
LogLevel QUIET
LoginGraceTime 5m
PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
AllowAgentForwarding yes
AllowTcpForwarding yes
GatewayPorts yes
PermitTTY yes
PrintMotd yes
PrintLastLog yes
TCPKeepAlive yes
PermitUserEnvironment yes
Subsystem	sftp	sftp-server.exe
Match Group administrators
       AuthorizedKeysFile __PROGRAMDATA__/ssh/administrators_authorized_keys
